<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TTRider.uEpisodes.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TTRider.uEpisodes.Core.Properties.Settings>
            <setting name="CopyToPattern" serializeAs="String">
                <value>{Show}\Season {season}\S{season:00}E{episode:00}. {title}</value>
            </setting>
            <setting name="MoveToPattern" serializeAs="String">
                <value>{Show} - S{season:00}E{episode:00}. {title}</value>
            </setting>
            <setting name="ShowSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowMappings" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSystemMonitorFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSystemAutoCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemAutoMove" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemRunMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uTorrentAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="uTorrentCredentials" serializeAs="String">
                <value />
            </setting>
            <setting name="uTorrentAutoCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uTorrentAutoMove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uTorrentAutoStopSeeding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uTorrentRunMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreDirectories" serializeAs="String">
                <value>Sample
Extras
Documentary
</value>
            </setting>
            <setting name="FileNamePatterns" serializeAs="String">
                <value>^(?'show'.*)Series\s*(?'season'\d+)\s*Episode\s*(?'episode'\d+)
^(?'show'.*)Season\s*(?'season'\d+)\s*Episode\s*(?'episode'\d+)
^(?'show'.*)S\s*(?'season'\d+)\s*E\s*(?'episode'\d+)
^S\s*(?'season'\d+)\s*E\s*(?'episode'\d+)
^(?'show'.*)(?'season'\d+)x(?'episode'\d+)
^(?'show'.*)(?'season'\d\d)x(?'episode'\d\d)
^(?'show'[^\d]*)(?'season'\d)(?'episode'\d+)
^(?'show'[^\d]*)(?'season'\d\d)(?'episode'\d+)
^(?'show'.*)(?'season'\d)(?'episode'\d\d)</value>
            </setting>
        </TTRider.uEpisodes.Core.Properties.Settings>
    </userSettings>
</configuration>