<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TTRider.uEpisodes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="AppModelTraceListener" type="TTRider.uEpisodes.Data.AppModelTraceListener,uEpisodes" />
      </listeners>
    </trace>
  </system.diagnostics>
  
    <userSettings>
        <TTRider.uEpisodes.Properties.Settings>
            <setting name="CopyToPattern" serializeAs="String">
                <value>{Show}\Season {season}\S{season:00}E{episode:00}. {title}</value>
            </setting>
            <setting name="MoveToPattern" serializeAs="String">
                <value>{Show} - S{season:00}E{episode:00}. {title}</value>
            </setting>
            <setting name="ShowSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowMappings" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSystemMonitorFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSystemAutoCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemAutoMove" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemRunMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uTorrentAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="uTorrentCredentials" serializeAs="String">
                <value />
            </setting>
            <setting name="uTorrentAutoCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uTorrentAutoMove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uTorrentAutoStopSeeding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uTorrentRunMonitor" serializeAs="String">
                <value>False</value>
            </setting>
        </TTRider.uEpisodes.Properties.Settings>
    </userSettings>
</configuration>